<div class="flag-list">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/angola_flag.png" alt="Angola Flag">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><img src="assets/img/angola_flag.png" class="img-reponsive" alt="Angola Flag"></a></li>
            <li><a class="dropdown-item" href="#"><img src="assets/img/en.svg" class="img-reponsive" alt="England Flag"></a></li>
        </ul>
    </li>
    
</div>
