$color-red-gradient: linear-gradient(5deg,#8a1d1d,red);
$color-back: #2c2a2a;
$color-white: #fff;
$height-30: 30px;
.titleName {
    color: $color-white;
    padding: 0px 132px;
}
.line-top {
 background: $color-red-gradient;
    height: $height-30;
    display: flex;
    justify-content: center;
    .roda-dentada{
       position: absolute;
       width: 40px;
    }
}
.line-bottom {
    background-color: $color-back;
    height: $height-30;
    background: $color-back;
}