/* You can add global styles to this file, and also import other style files */
/*Configuração de Back*/
$indigo-default: indigo;

$color-default: #fff;
$black-color: #000;

.bg-indigo-default {
background-color: $indigo-default;
}
.navbar-default, .currentColor, .brand, .nav-link, .nav-link:hover, .nav-link:active{
 color: $color-default;
}
.navbar-toggler {
    border: 1px solid $color-default;
}
.navbar-toggler-icon {
    background-color: $color-default;
}