<app-main-line-gov></app-main-line-gov>

<div class="container container-minfin-brand">
  <div class="row">
    <div class="col-md-12">
      <img src="assets/img/logo-governo-Minfin.png" class="img-responsive"  alt="Governo e Minfin">
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-default backgrand-nav-default">
  <div class="container container-minfin">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-house-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sobre
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Mensagem da Ministra</a></li>
            <li><a class="dropdown-item" href="#">Missão, Visão e Valores</a></li>
            <li><a class="dropdown-item" href="#">História</a></li>
            <li><a class="dropdown-item" href="#">Estatuto Orgânico</a></li>
            <li><a class="dropdown-item" href="#">Galeria dos Ministros das Finanças</a></li>
            <li><a class="dropdown-item" href="#">Organograma</a></li>
            <li><a class="dropdown-item" href="#">Quadro de Pessoal</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Legislação
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Legislação Geral Sobre Finanças Públicas</a></li>
            <li><a class="dropdown-item" href="#">Legislação Tributária</a></li>
            <li><a class="dropdown-item" href="#">Legislação Sobre o Património do Estado</a></li>
            <li><a class="dropdown-item" href="#">Estatuto Orgânico</a></li>
            <li><a class="dropdown-item" href="#">Galeria dos Ministros das Finanças</a></li>
            <li><a class="dropdown-item" href="#">Organograma</a></li>
            <li><a class="dropdown-item" href="#">Quadro de Pessoal</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dados Macroeconómicos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Legislação Geral Sobre Finanças Públicas</a></li>
            <li><a class="dropdown-item" href="#">Legislação Tributária</a></li>
            <li><a class="dropdown-item" href="#">Legislação Sobre o Património do Estado</a></li>
            <li><a class="dropdown-item" href="#">Estatuto Orgânico</a></li>
            <li><a class="dropdown-item" href="#">Galeria dos Ministros das Finanças</a></li>
            <li><a class="dropdown-item" href="#">Organograma</a></li>
            <li><a class="dropdown-item" href="#">Quadro de Pessoal</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cooperação Económica
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Legislação Geral Sobre Finanças Públicas</a></li>
            <li><a class="dropdown-item" href="#">Legislação Tributária</a></li>
            <li><a class="dropdown-item" href="#">Legislação Sobre o Património do Estado</a></li>
            <li><a class="dropdown-item" href="#">Estatuto Orgânico</a></li>
            <li><a class="dropdown-item" href="#">Galeria dos Ministros das Finanças</a></li>
            <li><a class="dropdown-item" href="#">Organograma</a></li>
            <li><a class="dropdown-item" href="#">Quadro de Pessoal</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portais de Serviços
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Legislação Geral Sobre Finanças Públicas</a></li>
            <li><a class="dropdown-item" href="#">Legislação Tributária</a></li>
            <li><a class="dropdown-item" href="#">Legislação Sobre o Património do Estado</a></li>
            <li><a class="dropdown-item" href="#">Estatuto Orgânico</a></li>
            <li><a class="dropdown-item" href="#">Galeria dos Ministros das Finanças</a></li>
            <li><a class="dropdown-item" href="#">Organograma</a></li>
            <li><a class="dropdown-item" href="#">Quadro de Pessoal</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </a>
        </li>
        <app-flag-list></app-flag-list>
      </ul>
      <!-- Para colocar o campo de pesquisa abaixo ou Login -->
      
    </div>
  </div>
</nav>