/* You can add global styles to this file, and also import other style files */
$backgrand-nav-default: linear-gradient(180deg,#eeeeef,#bebdbd);
$black-color: #000;
$white-color: #fff;

.backgrand-nav-default {
    background-color: $backgrand-nav-default;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    word-wrap: break-word;
    
}

.container {
    border-bottom: 5px solid $black-color;
    padding: 20px 30px;
    color: $white-color;
    background: $backgrand-nav-default;
}
.currentColor {
color: $black-color;
}

.navbar-default, .currentColor, .brand, .nav-link, .nav-link:hover, .nav-link:active{
    color: $black-color;
   }